.header-inner{
    justify-content: space-between;
    padding: 15px;
}

.menu-lists ul li{
    padding: 10px;
}
@media (max-width:768px){
    .logo{
        position: fixed;
        z-index: 999;
    }
    .btn{
        top: 0;
        width: 100%;
        display: block;      
        width: 60px;      
        height: 60px;      
        position: absolute;
        position: fixed;
        right: 0;
        background-color: #ea5506;
        padding: 20px;
        z-index: 999;
    }
      
    .bar{      
        width: 25px;      
        height: 2px;        
        display: block;      
        position: absolute;      
        left: 50%;
        transform: translateX(-50%);      
        background-color: #fff;    
    }
      
    .bar-top{ top: 30%;}
    .bar-middle{    
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .bar-bottom{ bottom: 30%;}
    
    .btn.close .bar-top{      
        transform: translate(-50%,12px) rotate(55deg);      
        transition: transform .3s;    
    }  
    
    .btn.close .bar-middle{      
        opacity: 0;       
        transition: opacity .3s;    
    }    
    
    .btn.close .bar-bottom{      
        transform: translate(-50%,-10px) rotate(-55deg);      
        transition: transform .3s;    
    }
    
    .menu-lists{
        display: none;
        background-color: #383c3c;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 100px;
        text-align: left;
        z-index: 998;

    }

    .menu-lists ul{
        display: block;
    }
    .menu-lists ul li a{
        padding-left: 5vh;
        line-height: 3em;
        font-size: 20px;
    }
}